/* custom.css */

/* Supprimer les bandes grises alternées */
.remark-slide table tr:nth-child(even),
.remark-slide table tr:nth-child(odd) {
  background-color: white !important;
}

/* Ajouter des bordures pour les tables */
.remark-slide table,
.remark-slide th,
.remark-slide td {
  border: 1px solid black !important;
  border-collapse: collapse;
}

/* Griser les cellules de nom de colonnes */
.remark-slide table thead th {
  background-color: #eee !important;
}
