/* Style général avec la police Cabin */
body, h1, h2, h3, th, td, button {
    font-family: 'Cabin', sans-serif;
    color: black;
}

/* Couleur de fond et alignement général */
body {
    background-color: #FAFAFA;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* En-têtes */
header {
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    color: #dd0747;
    font-size: 2.2em;
    font-weight: 200; /* Utiliser la variante en gras de Cabin */
    margin: 0.1em 0;
}

h2 {
    color: #dd0747;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.1em 0;
}

h3 {
    color: #dd0747;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 1em;
}

/* Style du tableau */
table {
    width: 110%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 1em;
    table-layout: auto; /* Autorise le navigateur à ajuster les largeurs */
    text-align: left;
}

th {
    display: none; /* Masquer les en-têtes de colonne */
}

td {
    padding: 10px 5px; /* Espacement des cellules */
    color: #333;
}

/* Première colonne sans contrainte de largeur */
td:first-child {
    text-align: left;
}

/* Colonnes de liens avec une largeur minimale */
td:nth-child(2), td:nth-child(3) {
    min-width: 80px; /* Largeur minimale pour éviter le resserrement */
    text-align: right;
    white-space: nowrap; /* Évite que le texte se casse en plusieurs lignes */
}

/* Style des liens */
td a {
    color: rgb(249, 38, 114);
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Liens désactivés */
td span {
    color: grey;
}


/* Réinitialiser complètement tous les styles par défaut */
button {
  all: unset; /* Réinitialise tous les styles par défaut */
  appearance: none; /* Supprime le style natif des boutons */
  -webkit-appearance: none; /* Compatible avec Safari et Chrome */
  -moz-appearance: none; /* Compatible avec Firefox */
  display: inline-block; /* Comportement de bouton */
  box-sizing: border-box; /* Pour que padding et bordures soient inclus */
}

/* Personnalisation complète pour les boutons inline */
button.inline {
  background-color: #EE83A3 !important; /* Couleur de fond rose clair */
  color: #FAFAFA !important;           /* Texte blanc */
  padding: 5px 10px !important;        /* Taille compacte */
  font-size: 14px !important;          /* Taille du texte */
  font-family: 'Cabin', sans-serif !important; /* Police Cabin */
  border: none !important;             /* Pas de bordure */
  border-radius: 4px !important;       /* Coins arrondis */
  cursor: pointer !important;          /* Main au survol */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Légère ombre */
  text-align: center !important;
}

button.inline:hover {
  background-color: #DD0747 !important; /* Couleur rose foncé au survol */
}
